:root {
    --texthue: 0;
}

body {
    background-color: hsl(var(--texthue), 100%, 98%);
    font-size: 1.2em;
}

body.dark {
    background-color: hsl(var(--texthue), 100%, 7%);
}

section {
    padding: 10px; margin:10px;
    min-width: 200px;

}

a, body, .fancy {
    color: hsl(var(--texthue), 100%, 15%);
    text-align:justify;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.fancy {
    font-style: italic;
    font-weight: bolder;
}

a {
    color: hsl(calc(var(--texthue) + 270), 100%, 35%);
}

.dark a {
    color: hsl(calc(var(--texthue) + 225), 100%, 75%);
}

body.dark, .dark .fancy {
    color: hsl(var(--texthue), 100%, 75%);
}

h1, h2, h3 {

    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    line-height: 1.0em;
}

div.card {
    break-inside: avoid;
    page-break-inside: avoid;
}

h1 {
    color: hsl(var(--texthue), 100%, 15%);
    font-size: 2em;
}
.dark h1 {
    color: hsl(var(--texthue), 100%, 85%);
}
h2 {
    color: hsl(calc(var(--texthue) + 180), 100%, 30%);
    font-size: 1.5em;
}
.dark h2 {
    color: hsl(calc(var(--texthue) + 180), 100%, 40%);
}

h3 {
    color: hsl(var(--texthue), 100%, 20%);
    font-size: 1.3em;
}
.dark h3 {
    color: hsl(var(--texthue), 100%, 80%);
}

.aside {
    font-size: .6em;
}

.code {
    font-size: 0.8em;
    background: hsl(var(--texthue), 100%, 10%);
    color: hsl(var(--texthue), 100%, 100%);
    padding: 1px;
    border: 1px solid hsl(var(--texthue), 100%, 80%);
    font-family:'Courier New', Courier, monospace;
}

img {
    float: left;
    display: block;
    padding: 5px;
}

div.words {
    display: flex;
    flex-direction:row;
    align-items:top;
}

@media (max-width: 1000px) {
    div.words {
        flex-direction: column;
    }
    section {
        padding: 0 10px 0 10px;
        margin: 0 10px 0 10px;
    }
}

/* the menu */

section.menu ul {
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

section.menu li {
    list-style: none;
    padding: 10px;
    line-height:1em;
    text-overflow:clip;
}



/* photo gallery */

section.photos article {
    display: flex;
    gap: 3px;
}

div.photo {
    width: 700px;
    height: 700px;
    background:  hsl(var(--texthue), 100%, 30%);
    color:  hsl(var(--texthue), 100%, 90%);
    font-size: 0.5em;
    text-align:center;
    border: 1px solid hsl(var(--texthue), 100%, 10%);
}